body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #616161; /* grey darken-2 */
}

.legend {
  font-size: 0.8em;
}

.tooltip {
  position: absolute;
  text-align: center;
  line-height: 1.5em;
  padding: 12px;
  font-size: 0.8em;
  border-radius: 8px;
  pointer-events: none;
}
